@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
.container {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 5px;
    background-color: lavender;
    cursor: pointer;
}

.container .detailssummary {
    color: #2c0a6d8f;
    font-weight: bold;
}

.detailscontent {
    display: none;
    margin-top: 10px;
}

.right {
    margin-right: 5px;
    vertical-align: middle;
    color: #333;
}